<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.staticImages = {
    pin_map_icon: "<%= image_url("pin_map_icon.png") %>",
    favicon: "<%= image_url("favicon.ico") %>",
    compass: "<%= image_url("compass.png") %>",
    github: "<%= image_url("GitHub.png") %>",
    linkedin: "<%= image_url("Linkedin.png") %>",
    trash: "<%= image_url("trash.png") %>",
  }
</script>


<main id="root"></main>
